{% extends 'main/mein.html' %}
{% block title %}
Купить лекарства. Доставка (24/7). Интернет-аптека Еврофарма
{% endblock %}
{% block content %}

<style>

* { margin:0; padding:0; }

#content { margin: 50px; }
a { text-decoration: none; }

.expandable {
  background: #fff;
  overflow: hidden;
  color: #000;
  line-height: 50px;

  transition: all .5s ease-in-out;
  height: 0;
 }

 .expandable:target {
  height: 50px;
}


    .square-holder {
        padding: 30px;
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        min-height: 200px
    }

    .square-holder img {
        max-width: 100%;
        filter: grayscale(100%);
        transition: all 0.3s;
    }

    .square-holder:hover img {
        filter: none;
    }
</style>

<section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Фильтр</span>
                        </div>
                        <ul>
                            <li><a href="{% url 'up' %}"> По возрастанию </a></li>
                            <li><a href="{% url 'down' %}"> По убыванию </a></li>
                            <li><a href="{% url 'alphabet' %}"> По алфавиту </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="{% url 'search' %}">
                                <input type="search" placeholder="Search" name="search">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+7 771 547 31 81</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="banner">
  <div class="container"  style="height: 100vh;">
    <div class="row" style="  align-items: center;height: 100vh;overflow:hidden">
      <div class="col-sm-6 order-2 order-sm-1">
        <h1 class="fw-bold display-4 font-weight-bold" style="color: #232f3e">Stay healthy</h1>
        <p style="color: #232f3e">Finally, a pharmacy that really delivers.</p>
        <p style="color: #232f3e">From coupons to Prime member savings, we work hard to find you low prices.</p>
        <a href="#" class="btn btn-light" style="color: #232f3e; border: 1px solid #232f3e"> Learn More</a>
      </div>
      <div class="col-sm-6 order-1 order-sm-2">
        <img src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/pharmacist_with_bottle_2x.png" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <h4 class="mb-5">{{message}}</h4>
            <div class="row featured__filter">

                {% for product in products %}
                {% if product.is_active %}

                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="img/featured/feature-1.jpg">
                                <img src="{{ product.image.url }}">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="{% url 'add_to_cart' product.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                            </div>
                            <div class="featured__item__text">
                                <h6><a href="">{{product.title}}</a></h6>
                                <a href="http://127.0.0.1:8000/product_detail/{{ product.slug }}">Details</a>
                                <h5>{{product.price}} ₸</h5>
                            </div>
                        </div>
                    </div>

                {% endif %}

                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Featured Section End -->


<section class="mt-5">
    <div class="text-center mb-3"><h2>What customers are saying</h2></div>
    <div class="container d-flex justify-content-center">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title text-center"><img width="115" height="24" src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/five-stars-jade.svg" alt=""></h5>
        <p class="card-text">“Fewer trips to the pharmacy and more reliable service than I was getting with my old pharmacy”</p>
        <p>– Anita F, Amazon Pharmacy customer</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title text-center"><img width="115" height="24" src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/five-stars-jade.svg" alt=""></h5>
        <p class="card-text">“It is very easy to order my prescriptions and then receive them delivered to my home very quickly!”</p>
            <p>– Kathleen F, Amazon Pharmacy customer
</p>
      </div>
    </div>
  </div>
       <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
          <h5 class="card-title text-center"><img width="115" height="24" src="https://m.media-amazon.com/images/G/01/wg/lp/LEGO-LP/Storefont_v2/Home/five-stars-jade.svg" alt=""></h5>
        <p class="card-text">“I don't have to follow up with my doctor's office for refills anymore.”</p>
            <p>– Meredith M, Amazon Pharmacy customer</p>
      </div>
    </div>
  </div>
</div>

</section>


<div class="container mb-5 mt-5">

    <section class="section section-default mt-none mb-none">
        <div class="container">
            <h2 class="mb-sm text-center mb-2">Our <strong>Partners</strong></h2>
            <strong>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3" style="cursor: pointer;">
                        <div class="square-holder">
                            <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/talk-internet-200.png"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3" style="cursor: pointer;">
                        <div class="square-holder">
                            <img alt="" src="https://www.pmits.co.uk/Portals/0/img/opera3_logo.png"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3" style="cursor: pointer;">
                        <div class="square-holder">
                            <img alt="" src="https://www.pmits.co.uk/Portals/0/pegasus-logo.png"/>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3" style="cursor: pointer;">
                        <div class="square-holder">
                            <img alt="" src="https://www.pmits.co.uk/Portals/0/sage business partner.jpg"/>
                        </div>
                    </div>
                </div>
            </strong>
        </div>
    </section>
</div>
{% endblock %}


