{% extends 'main/mein.html' %}
{% block title %}
Новый продукт
{% endblock %}
{% block content %}


<section class="container">
    <div class="row justify-content-around text-center mt-3">
        <div class="col-sm-8">
            <h3>Add product</h3>
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-sm-8">
            {% if user.is_superuser %}
            <a href="{% url 'admin_page' %}" class="btn btn-primary float-end">Go back</a>
            {% else %}
            <a href="{% url 'acc' %}" class="btn btn-primary float-end">Go back</a>
            {% endif %}
        </div>
    </div>
    <div class="row justify-content-around">
        <div class="col-sm-8">
            <form action="" enctype='multipart/form-data' method="POST" class="bg-white p-3 rounded shadow">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
        </div>
    </div>

</section>


{% endblock %}